/*--------------------- Layout and Typography ----------------------------*/
pre, tt, code {
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}

body code pre span[class] {
	color: #000000;
	font-weight: normal;
	//font-style: normal;
}   /* Set all span elements to black in code elements.*/