<html>
<head>
<script>
function subst() {
   var vars={};
var x=document.location.search.substring(1).split('&');
for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
for(var i in x) {
var y = document.getElementsByClassName(x[i]);
for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
}
}
</script>
<style type="text/css" media="screen">
	body {
		border: 0;
		margin: 0;
	}
	table {
		width: 100%;
	}
	table tr td {
		font-size: 0.7em;
		color: #6A6A6A;
	}
</style>
</head>
<body onload="subst()">
<table>
<tr>
<td class="section"></td>
<td style="text-align:right">
<span class="page"></span>
</td>
</tr>
</table>
</body>
</html>