.DS_Store
public/noc_html/index.html
public/noc_pdf/index.html
public/noc_pdf/index.pdf
public/book.asc.xml

public/chapters/01_vectors.asc.BACKUP.5464.asc
public/chapters/01_vectors.asc.BACKUP.5584.asc
public/chapters/01_vectors.asc.BASE.5464.asc
public/chapters/01_vectors.asc.BASE.5584.asc
public/chapters/01_vectors.asc.LOCAL.5464.asc
public/chapters/01_vectors.asc.LOCAL.5584.asc
public/chapters/01_vectors.asc.REMOTE.5464.asc
public/chapters/01_vectors.asc.REMOTE.5584.asc
public/chapters/01_vectors.asc.orig
public/chapters/02_forces.asc.BACKUP.5678.asc
public/chapters/02_forces.asc.BASE.5678.asc
public/chapters/02_forces.asc.LOCAL.5678.asc
public/chapters/02_forces.asc.REMOTE.5678.asc