/public/results
templates/.DS_Store

gems/.DS_Store

templates/html_template/public/.DS_Store

templates/html_template/.DS_Store

templates/html_template/.DS_Store

templates/html_template/public/.DS_Store

templates/html_template/.DS_Store

templates/html_template/.DS_Store

templates/html_template/public/.DS_Store

public/.DS_Store

templates/html_template/.DS_Store

public/.DS_Store
