#container {
	width: 800px;
	margin: 0 auto;
}

.breakout_box {
	background-color: #D7D7D7;
	padding: 20px;
}

pre {
	width: 100%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

img {
	max-width: 100%;
	page-break-inside:avoid;
}

/* CODE BLOCK FORMATTING
___________________________________________________ */

/* Div wrapper for code blocks */
.code-block {
  margin: 2em 1em;
  overflow: auto;
  position: relative;
}

.code-block * {
  position: relative;
}

/* Wrapper for every pairing of code and comment.
Used to catch the .code-comment-line inside of
a relatively positioned parent. */
.code-comment-pair {
  display: block;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.code-comment-line {
  border-top: 1px dashed #aaa;
  display: block;
  height: 2px;
  overflow-y: auto;
  width: 100%;
}

/* Div wrapper for code comments */
.code-comment {
  clear: right;
  color: #777;
  display: block;
  float: right;
  font-family: sans-serif;
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* The code goes in here. */
.code-block code {
  clear: left;
  display: block;
}