/* Page Style
_____________________________________________________________________________ */

@page { 
	size: 7.5in 9.25in;
	margin: 0.75in;
}

/* Define Left Headers and Footers
_____________________________________________________________________________ */

@page :left {
  @top-left {
    font: 10pt "Akkurat-Regular", serif;
    content: "The Nature of Code";
    vertical-align: bottom;
    padding-bottom: 2em;
  }

  @bottom-left {
    font: 11pt "Akkurat-Regular", serif;
    content: counter(page);
    padding-top: 2em;
    vertical-align: top;
  }
}

/* Define Right Headers and Footers
_____________________________________________________________________________ */

@page :right {
  @top-right {
    font: 10pt "Akkurat-Regular", serif;
    content: string(doctitle);
    vertical-align: bottom;
    padding-bottom: 2em; 
  }

  @bottom-right {
    font: 10pt "Akkurat-Regular", serif;
    content: counter(page);
    text-align: right;
    vertical-align: top;
    padding-top: 2em;
  }
}

h1 { string-set: doctitle content() }

/* Insert page number after all links
_____________________________________________________________________________ */

a[href]::after {
    content: " (See page " target-counter(attr(href), page) ")"
}

/* Fonts
_____________________________________________________________________________ */

p {
	font-size: 110%;
	line-height: 1.3em;
}

/* Boxes
_____________________________________________________________________________ */

.breakout_box {
	background-color: #D7D7D7;
	padding: 20px;
}

pre {
	width: 100%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

img {
	max-width: 100%;
}

.screenshot img {
	width: 100%;
	margin: 0px;
	border:1px solid gray;
	// Need a magic solution for border side borders to be partial, not extend all the way to top
}

/* Page Breaks
_____________________________________________________________________________ */

img, .note, .example, .tip, .breakout_box, .half-width, .half-width-right {
	page-break-inside: avoid;
}

/* Code Formatting
_____________________________________________________________________________ */

/* Div wrapper for code blocks */
.code-block {
  margin: 2em 1em;
  overflow: auto;
  position: relative;
}

.code-block * {
  position: relative;
}

/* Wrapper for every pairing of code and comment.
Used to catch the .code-comment-line inside of
a relatively positioned parent. */
.code-comment-pair {
  display: block;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.code-comment-line {
  border-top: 1px dashed #aaa;
  display: block;
  height: 2px;
  overflow-y: auto;
  width: 100%;
}

/* Div wrapper for code comments */
.code-comment {
  clear: right;
  color: #777;
  display: block;
  float: right;
  font-family: sans-serif;
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* The code goes in here. */
.code-block code {
  clear: left;
  display: block;
}