/* Page Style
_____________________________________________________________________________ */

@page {
	size: 7.5in 9.25in;
	margin: 0.75in;
}

/* Define Left Headers and Footers
_____________________________________________________________________________ */

@page :left {
  @top-left {
    font: 8pt "Proxima-Nova-Regular", serif;
    content: "The Nature of Code";
    vertical-align: bottom;
    padding-bottom: 2em;
		color: #808080;
  }

  @bottom-left {
    font: 9pt "Proxima-Nova-Regular", serif;
    content: counter(page);
    padding-top: 2em;
    vertical-align: top;
		color: #404040;
  }
}

/* Define Right Headers and Footers
_____________________________________________________________________________ */

@page :right {
  @top-right {
    font: 8pt "Proxima-Nova-Regular", serif;
    content: string(doctitle);
    vertical-align: bottom;
    padding-bottom: 2em;
		color: #606060;
  }

  @bottom-right {
    font: 9pt "Proxima-Nova-Regular", serif;
    content: counter(page);
    text-align: right;
    vertical-align: top;
    padding-top: 2em;
		color: #404040;
  }
}

h2 { string-set: doctitle content() }

/* Insert page number after all links
_____________________________________________________________________________ */

a[href]::after {
	content: " (See page " target-counter(attr(href), page) ")";
}

a[href^="http:"]::after {
	content: " (See " attr(href) ")";
}

/* Font sizes and placements
_____________________________________________________________________________ */

h1 {
	font-size: 320%;
}

h2 {
	page-break-before:always;
	font-size: 38pt;
	margin-top: 3.5em;
	color: #202020;
}

h3 {
	color: #404040;
	font-size: 17pt;
	margin-top: 2em;
}

h4 {
	font-size: 125%;
}

h5 {
	font-size: 125%;
}

p {
	font-size: 9pt;
	color: #404040;
}

blockquote {
	font-size: 16pt;
	color: #808080;
}

.caption {
	font-size: 9pt;
	color: #606060;
}

/* Boxes
_____________________________________________________________________________ */

.breakout_box {
	background-color: #D7D7D7;
	padding: 20px;
}

img {
	max-width: 100%;
}

.screenshot img {
	width: 100%;
	margin: 0;
	border: 1px solid gray;
	// Need a magic solution for border side borders to be partial, not extend all the way to top
}

/* Page Breaks
_____________________________________________________________________________ */

img, .note, .example, .tip, .breakout_box, .half-width, .half-width-right {
	page-break-inside: avoid;
}

/* Code Formatting
_____________________________________________________________________________ */

/* Div wrapper for code blocks */
.code-block {
  font-size: 80%;
  margin: 2em 1em;
}

.example .code-block {
  /*margin-left: 0em;*/
  /*margin-right: 0em;*/
}

.code-comment-line {
  border-top: 1px dashed #aaa;
}

/* Div wrapper for code comments */
.code-comment {
  color: #777;
  width: 40%;
}

/* The code goes in here. */
.code-block code {
}

.one-line:first-child {
  margin-bottom: 3px;
}