/* Page Style
_____________________________________________________________________________ */

@page {
	size: 7.5in 9.25in;
	margin: 0.75in;
}

/* Define Left Headers and Footers
_____________________________________________________________________________ */

@page :left {
  @top-left {
    font: 10pt "Akkurat-Regular", serif;
    content: "The Nature of Code";
    vertical-align: bottom;
    padding-bottom: 2em;
  }

  @bottom-left {
    font: 11pt "Akkurat-Regular", serif;
    content: counter(page);
    padding-top: 2em;
    vertical-align: top;
  }
}

/* Define Right Headers and Footers
_____________________________________________________________________________ */

@page :right {
  @top-right {
    font: 10pt "Akkurat-Regular", serif;
    content: string(doctitle);
    vertical-align: bottom;
    padding-bottom: 2em;
  }

  @bottom-right {
    font: 10pt "Akkurat-Regular", serif;
    content: counter(page);
    text-align: right;
    vertical-align: top;
    padding-top: 2em;
  }
}

h2 { string-set: doctitle content() }

/* Insert page number after all links
_____________________________________________________________________________ */

a[href]::after {
    content: " (See page " target-counter(attr(href), page) ")"
}

/* Fonts
_____________________________________________________________________________ */

p {
	font-size: 110%;
	line-height: 1.3em;
}

/* Boxes
_____________________________________________________________________________ */

.breakout_box {
	background-color: #D7D7D7;
	padding: 20px;
}

img {
	max-width: 100%;
}

.screenshot img {
	width: 100%;
	margin: 0px;
	border:1px solid gray;
	// Need a magic solution for border side borders to be partial, not extend all the way to top
}

/* Page Breaks
_____________________________________________________________________________ */

img, .note, .example, .tip, .breakout_box, .half-width, .half-width-right {
	page-break-inside: avoid;
}

/* Code Formatting
_____________________________________________________________________________ */

/* Div wrapper for code blocks */
.code-block {
  font-size: 80%;
  margin: 2em 1em;
}

.example .code-block {
  /*margin-left: 0em;*/
  /*margin-right: 0em;*/
}

.code-comment-line {
  border-top: 1px dashed #aaa;
}

/* Div wrapper for code comments */
.code-comment {
  color: #777;
  width: 40%;
}

/* The code goes in here. */
.code-block code {
  clear: left;
  display: block;
}