<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Document</title>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/codeprocessing.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$('span.c1').each(function(){ addStylesToCodeLines($(this)); });
			// $('code').each(function(){ inlineComments($(this)); });
			$('div.source-code').each(function(){ setRawCodeHeight($(this)); });
			$('a.toggle').click(function(){ toggleCodeDisplay($(this)); return false; });
		});
	</script>
	<script type="text/javascript" src="processingjs/processing.js"></script>
  <script type="text/javascript" src="processingjs/lazyloading.js"></script>
	<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">
	<link rel="stylesheet" href="stylesheets/html.css" type="text/css">
	<link rel="stylesheet" href="stylesheets/code-html.css">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34673170-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script>

    window.onload= function() {
      offsetUps = document.getElementsByClassName('offset-up');
      for(var i=0; i < offsetUps.length; i++) {
        var element = offsetUps[i];
        var comment = element.getElementsByClassName('code-comment')[0];
        var height = comment.offsetHeight;
        comment.style.top = '-' + (height) +  'px';
      }
    };
</script>

</head>
<body>
	<div id="container">
		<%= render_children(views, filter_results) %>
	</div>
</body>
</html>