<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Document</title>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/codeprocessing.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$('span.c1').each(function(){ addStylesToCodeLines($(this)); });
			// $('code').each(function(){ inlineComments($(this)); });
			$('div.source-code').each(function(){ setRawCodeHeight($(this)); });
			$('a.toggle').click(function(){ toggleCodeDisplay($(this)); return false; });
		});
	</script>
	<script type="text/javascript" src="processingjs/processing.js"></script>
  <script type="text/javascript" src="processingjs/lazyloading.js"></script>
  <script type="text/javascript" src="javascripts/sketchControls.js"></script>
  <script type="text/javascript" src="javascripts/jquery.fixed.js"></script>
	<script type="text/javascript" src="javascripts/navigator.js"></script>
	<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">
	<link rel="stylesheet" href="stylesheets/html.css" type="text/css">
	<link rel="stylesheet" href="stylesheets/code-html.css">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34673170-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script>

    window.onload= function() {
      offsetUps = document.getElementsByClassName('offset-up');
      for(var i=0; i < offsetUps.length; i++) {
        var element = offsetUps[i];
        var comment = element.getElementsByClassName('code-comment')[0];
        var height = comment.offsetHeight;
        comment.style.top = '-' + (height) +  'px';
      }
    };
</script>

</head>
<body>

  <div id="navigator">
    <div id="toc-holder">
      <div id="mask"></div>
      <div id="nav-bar">
        <h1>THE <strong>NATURE</strong> OF CODE</h1>
        <h2>by Daniel Shiffman</h2>
        <a id="purchase-link" href="/">Buy as a PDF</a>
      </div>

      <div id="toc-list"></div>
    </div>
  </div>


  <div id="top">
    <div id="header">
      <h1><a href="/">The <strong>Nature</strong> of Code</a></h1>
      <h2>Daniel Shiffman</h2>
      <span style="font-style: italic; text-transform:none">(Beta! Contact me with questions.)</span>
    </div>
  </div>

  <div id="middle">

  	<div id="container">
  		<%= render_children(views, filter_results) %>
  	</div>
  </div>

	<div id="bottom">
		<div id="footer">
			<div class="one-third" id="licenses">
        <h4>Licenses</h4>
        <p>
          <a class="license-badge" rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a>
          <a class="license-badge" rel="license" href="http://creativecommons.org/licenses/LGPL/2.1/"><img alt="LGPL License" style="border-width:0" src="http://www.gnu.org/graphics/lgplv3-88x31.png" /></a>
        </p>

        <p>
          The book's text and illustrations are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>.
        </p>

        <p>
          All of the book's source code is licensed under the <a rel="license" href="http://creativecommons.org/licenses/LGPL/2.1/">GNU Lesser General Public License</a> as published by the Free Software Foundation; either version 2.1 of the License, or (at your option) any later version.
        </p>

      </div>

      <div class="one-third">
        <h4>Colophon</h4>

        <p>This book was generated with <a href="http://magicbookproject.com">The Magic Book Project</a>.

        <p>This book is typeset on the web in Georgia with headers in Proxima Nova.</p>

        <p>Please report any mistakes in the book or bugs in the source with a <a href="https://github.com/shiffman/The-Nature-of-Code/issues?sort=created&state=open">github issue</a> or contact me at <span class="eml">daniel at shiffman dot net</span>.</p>
      </div>

      <div class="one-third">
        <h4>Author</h4>
        <p>Daniel Shiffman is a professor of the <a href="http://itp.nyu.edu/">Interactive Telecommunications Program</a> at New York University.</p>

        <p>He is the author of <a href="http://www.learningprocessing.com/">Learning Processing</a>.</p>

        <p><a href="https://twitter.com/shiffman">Twitter</a> <a href="http://github.com/shiffman">Github</a></p>
      </div>
		</div>
	</div>
</body>
</html>