body {
  font-size: 13px;
	font-family: "Georgia", serif;
}

/* Header / paragraphs */
h1, .entry-title {
	font-size: 467.308%;
	line-height: 1em;
	font-weight: 700;
	font-style: normal;
	margin-bottom:0.3em;
	margin-top: 0.4444444444444444em;
	color: #541846;
}

h2 {
  font-size: 311.538%;
}

h3 {
  font-size: 273.500%;
}

h1, h2, h3 {
  font-family: "skolar", Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

h2, h3, h4, h5, h6 {
  line-height: 1.317em;
  margin: 1.2em 0 0.5em;
}

#container {
	width: 800px;
	margin: 0 auto;
	line-height: 1.317em;
}

p {
	font-size: 138.462%; /* 18 / 13 = 1.38462 */
  line-height: 1.618em;
	letter-spacing:0.03em;
}

/* Images stuff */
.image-container {
  position: relative;
}

.image-container img {
  max-width: 100%;
}

.image-container .caption {
  color: #222;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 100%; /* 100% == 13px when not inside a p tag */
}

.half-width,
.half-width-right {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  position: relative;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.half-width {
  float: left;
  margin-right: 10px;
}

.half-width-right {
  float: right;
  margin-left: 10px;
}

img {
	width: 100%;
	margin: 0px;
}

img.screenshot {
	width: 100%;
	margin: 0px;
	border:1px solid gray;
	
}


/* Style exercises - we use example boxes for that */
.example {
	background-color: #BAD4F6;
	padding: 16px;
	margin: 5px;
}

/* Style example projects - we use tip boxes for that */
.tip {
	background-color: #F6E482;
	padding: 20px;
}

/* Style functions */
.function {
	color: #285476;
	font-weight: bold;
}

/* Style note to self */
.notetoself {
	color: #FF0000;
	font-weight: bold;
}

.breakout_box {
	background-color: #D7D7D7;
	padding: 10px 20px;
}

blockquote {
	font-style: italic;
}

blockquote span {
	font-style: normal;
	display: block;
	width: 100%;
	text-align: right;
}

pre {
	width: 100%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.line-through {
	text-decoration: line-through;
}

.underline {
	text-decoration: underline;
}

canvas {
	border: 2px solid gray;
}

/* CODE BLOCK FORMATTING
___________________________________________________ */

.source-code {
  background-color: #f8f8f8;
  margin: 2em 1em;
  padding: 1.5em;
  position: relative;
}

/* Div wrapper for code blocks */
.code-block {
  overflow: auto;
  position: relative;
}

.code-block * {
  position: relative;
}

/* Wrapper for every pairing of code and comment.
Used to catch the .code-comment-line inside of
a relatively positioned parent. */
.code-comment-pair {
  display: block;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.code-comment-line {
  border-top: 1px dashed #aaa;
  display: block;
  height: 2px;
  overflow-y: auto;
  width: 100%;
}

/* Div wrapper for code comments */
.code-comment {
  clear: right;
  color: #777;
  display: block;
  float: right;
  font-family: sans-serif;
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* The code goes in here. */
.code-block code {
  clear: left;
  display: block;
}

.source-code textarea {
  background-color: #f0f0f0;
  display: none;
  width: 100%;
}

.source-code button {
  margin-top: 1em;
}