/* Header / paragraphs */
h1, .entry-title { 
	font-size: 3em; 
	line-height: 1em; 
	font-weight: 700; 
	font-style: normal; 
	margin-bottom:0.3em;
	margin-top: 0.4444444444444444em; 
	color: #541846; 
}



h1, h2, h3, p  {font-family: "skolar", Georgia, seif; }

#container {
	width: 800px;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 22px;
}

/* Images stuff */
img.half-width { 
    float: left; 
	width: 50%;
    margin: 5px; 
}

img.half-width-right { 
    float: right; 
	width: 50%;
    margin: 5px; 
}

img { 
	width: 100%;
	margin: 0px; 
}

img.screenshot { 
	width: 100%;
	margin: 0px;
	border:1px solid gray;
	
}


/* Style exercises - we use example boxes for that */
.example {
	background-color: #BAD4F6;
	padding: 20px;
}

/* Style example projects - we use tip boxes for that */
.tip {
	background-color: #F6E482;
	padding: 20px;
}

/* Style functions */
.function {
	color: #285476;
	font-weight: bold;
}

/* Style note to self */
.notetoself {
	color: #FF0000;
	font-weight: bold;
	
}


.breakout_box {
	background-color: #D7D7D7;
	padding: 10px 20px;
}

blockquote {
	font-style: italic;
}

blockquote span {
	font-style: normal;
	display: block;
	width: 100%;
	text-align: right;
}

pre {
	width: 100%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.line-through {
	text-decoration: line-through;
}

.underline {
	text-decoration: underline;
}

canvas {
	border: 2px solid gray;
}

/* CODE BLOCK FORMATTING
___________________________________________________ */

/* Div wrapper for code blocks */
.code-block {
  margin: 2em 1em;
  overflow: auto;
  position: relative;
}

.code-block * {
  position: relative;
}

/* Wrapper for every pairing of code and comment.
Used to catch the .code-comment-line inside of
a relatively positioned parent. */
.code-comment-pair {
  display: block;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.code-comment-line {
  border-top: 1px dashed #aaa;
  display: block;
  height: 2px;
  overflow-y: auto;
  width: 100%;
}

/* Div wrapper for code comments */
.code-comment {
  clear: right;
  color: #777;
  display: block;
  float: right;
  font-family: sans-serif;
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* The code goes in here. */
.code-block code {
  clear: left;
  display: block;
}