/* Skeleton
_____________________________________________________________________________ */

body {
  font-size: 13px;
	font-family: "Proxima-Nova-Regular";
	margin: 0;
	padding: 0;
}

#container {
	padding-top: 2.5em;
	width: 800px;
	margin: 0 auto;
	line-height: 1.317em;
/*	background-image: url('../imgs/vertical_grid.jpg');*/
}

/* Fonts
_____________________________________________________________________________ */

@font-face {
	font-family: 'Proxima-Nova-Regular';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: local('☺'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima-Nova-Semibold';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: local('☺'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Vijaya';
	src: url('../fonts/Vijaya.eot');
	src: local('☺'), url('../fonts/Vijaya.woff') format('woff'), url('../fonts/Vijaya.ttf') format('truetype'), url('../fonts/Vijaya.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: 320%;
	font-family: "Proxima-Nova-Regular";
/*	margin-bottom:1.3em;
	margin-top: 0.4em;*/
}

h2 {
	font-size: 270%;
	margin-bottom: 0.3em;
	font-family: "Proxima-Nova-Regular";
	/*line-height: 1em;*/
}

h3 {
	font-family: "Proxima-Nova-Semibold";
	font-size: 150%;
}

h4 {
	font-family: "Proxima-Nova-Semibold";
	font-size: 125%;
}

h5 {
	font-family: "Proxima-Nova-Semibold";
	font-size: 125%;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

h3, h4, h5, h6 {
  line-height: 1.317em;
  margin: 1.6em 0 0.5em;
}

p {
	font-size: 120%;
  line-height: 1.618em;
	letter-spacing:0.03em;
}

blockquote {
	font-family: "Vijaya";
	margin: 0 0 3em 0;
}

.line-through {
	text-decoration: line-through;
}

.underline {
	text-decoration: underline;
}

/* This is to make headings in next section work */
section {
	overflow-y: auto;
	position: relative;
	clear: both;
}

/* Default Elements
_____________________________________________________________________________ */

canvas {
	border: 1px solid gray;
	//margin-bottom: 1.15em;
	//border-left: 0.4em solid #272727;
}

/* Image Classes
_____________________________________________________________________________ */

img {
	width: 100%;
	margin: 0;
}

.image-container {
  position: relative;
	margin: 1.7em 0;
}

.image-container img {
  max-width: 100%;
}

.screenshot img {
	width: 100%;
	margin: 0px;
	//-webkit-box-shadow: 1px 1px 2px gray;
  	border:1px solid gray;
	// Need a magic solution for border side borders to be partial, not extend all the way to top
}

.caption {
  color: #222;
  font-family: 'Vijaya';
  font-size: 100%; /* 100% == 13px when not inside a p tag */
  border: 0;
	margin: 0;
	line-height: 1em;
}

.half-width,
.half-width-right,
.half-width-right-border {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  position: relative;
  width: 48%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.half-width {
  float: left;
  margin-right: 2em;
}

.half-width-right,
.half-width-right-border {
  float: right;
  margin-left: 2em;
}

.half-width-right-border img {
  border:1px solid gray;
}

.two-col,
.two-col-borderless,
.three-col
{
  width: 50%;
  box-sizing: border-box;
  padding-right: 1em;
  //margin-right: 1em;
  float: left;
}

.two-col img,
.two-col canvas,
.two-col-borderless canvas,
.three-col img,
.three-col canvas
{
  width: 100%;
  max-width: 100%;
  border:1px solid gray;
  //-webkit-box-shadow: 1px 1px 2px gray;
}

.two-col-borderless img {
  border:0px solid gray;
}

.three-col {
  width: 33%;
}

.mini200 img {
  width: 25%;
  border:1px solid gray;
}



/* Boxes Styling
_____________________________________________________________________________ */

/* .example = exercises
	 .tip = projects
	 .note = breakout boxes
*/

.note, .example, .tip {
	border-left: 0.4em solid #272727;
	padding: 0.7em 1.5em;
	background-color: #F4F4F4;
	margin: 1.15em 0;
}

.note h2:first-child, .tip h2:first-child, .example h2:first-child,
.note h3:first-child, .tip h3:first-child, .example h3:first-child,
.note h4:first-child, .tip h4:first-child, .example h4:first-child,
.note p:first-child, .tip p:first-child, .example p:first-child {
	margin-top: 0;
}

.note p:last-child, .tip p:last-child, .example p:last-child {
	margin-bottom: 0;
}

/* Style functions */
.function, .klass, .var, .mono, .formula{
	font-family: "Courier New", monospace;
	font-weight: bold;
	color: #00000;
}

/* Style note to self */
.notetoself {
	color: #FF0000;
	font-weight: bold;
}

/* Style example heading */
span.example {
 clear: both;
 display: block;
 font-family: 'Akkurat-Bold', Helvetica, Arial, sans-serif;
 font-size:1em;
 //font-weight: bold;
}


/* Code Formatting
_____________________________________________________________________________ */

pre {
	width: 100%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.source-code {
  border-left: 0.4em solid #272727;
  margin-bottom: 2em;
  padding: 0.7em 1.5em;
  background-color: #f9f9f9;
  position: relative;
  clear: both;
}

.source-code a.toggle {
  font-family: 'Helvetica', Arial, sans-serif;
  position: absolute;
  right: 0.8em;
  bottom: -1.8em;
  margin: 0;
  font-size: 0.8em;
  color: #656565;
  z-index:1;
}

.note .source-code,
.example .source-code,
.tip .source-code {
  border-left: none;
}

/* Div wrapper for code blocks */
.code-block {
  font-size: 90%;
  line-height: 1.4em;
  overflow: auto;
  position: relative;
}

.code-comment-pair code pre {
  width: 100%;
}

.one-line:first-child,
.code-comment {
  display: inline-block;
  background-color: #eee;
  padding: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.one-line:first-child {
  width: 60%;
}

.no-comment .one-line:first-child,
.no-comment .code-comment {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
}

.one-line {
  padding-left: 4px;
  /*width: 100%;*/
}

/* Wrapper for every pairing of code and comment.
Used to catch the .code-comment-line inside of
a relatively positioned parent. */
.code-comment-pair {
  display: block;
  position: relative;
  clear: both;
  margin: 0 0 2px 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.code-comment-line {
  border-top: 1px dashed #C7C7C7;
  height: 2px;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  width: auto;
}

/* Div wrapper for code comments */
.code-comment {
  clear: right;
  color: #444;
  display: block;
  float: right;
  font-family: sans-serif;
  font-style: bold;
  margin-top: 0.0em;
  position: relative;
  width: 40%;

  /* hack to remove 1px white space in Safari on Lion */
  left: -1px;
}

/* The code goes in here. */
.code-block code {
  clear: left;
  display: block;
  position: relative;
}

.source-code textarea {
  background-color: #f0f0f0;
  display: none;
  width: 100%;
}

/* CSS for some lists */
.list h4, .table h4 {
  clear: none;
}

/* Working on some CSS for tables here */
table {
	font-size:11px;
	font-family: 'Helvetica', Arial, sans-serif;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table th {
	border-width: 1px;
	text-align: left;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.table.mono td {
	font-size:10px;
	font-family: 'Courier', sans-serif;
}


