/* Skeleton
_____________________________________________________________________________ */

body {
  font-size: 13px;
	font-family: "Georgia", serif;
	margin: 0;
	padding: 0;
}

#container {
	padding-top: 2.5em;
	width: 800px;
	margin: 0 auto;
	line-height: 1.317em;
/*	background-image: url('../imgs/vertical_grid.jpg');*/
}

/* Fonts
_____________________________________________________________________________ */

@font-face {
  font-family: 'Akkurat-Bold';
  src: url(/fonts/AkkurBol.eot);
}

@font-face {
  font-family: 'Akkurat-Bold';
  src: url(../fonts/AkkurBol.woff) format("woff"), url(../fonts/AkkurBol.svg#Akkurat-Bold) format("svg");
}

@font-face {
  font-family: 'Akkurat-Regular';
  src: url(../fonts/AkkurReg.eot);
}

@font-face {
  font-family: 'Akkurat-Regular';
  src: url(../fonts/AkkurReg.woff) format("woff"), url(../fonts/AkkurReg.svg#Akkurat-Regular) format("svg");
}

h1 {
	font-size: 320%;
	line-height: 1em;
	font-style: normal;
	margin-bottom:1.3em;
	margin-top: 0.4em;
}

h2 {
	font-size: 270%;
	line-height: 1em;
	font-style: normal;
}

h3 {
	font-size: 150%;
}

h4,h5 {
	font-size: 125%;
}

h1, h2, h3, h4, h5 {
	font-family: 'Akkurat-Bold', Helvetica, Arial, sans-serif;
	color: #222;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

h3, h4, h5, h6 {
  line-height: 1.317em;
  margin: 1.6em 0 0.5em;
}

p {
	font-size: 120%;
  line-height: 1.618em;
	letter-spacing:0.03em;
}

.line-through {
	text-decoration: line-through;
}

.underline {
	text-decoration: underline;
}

/* Default Elements
_____________________________________________________________________________ */

blockquote {
	font-size: 1.8em;
	margin: 0em 4em 2em 4em;
	font-style: italic;
	line-height: 1.65em;
	position: relative;
}

blockquote span.attribution {
	display: block;
	font-style: normal;
	font-size: 0.6em;
}

blockquote .quote_start {
	position: absolute;
	top: 0.1em;
	left: -0.5em;
	font-size: 4em;
	font-family: 'Akkurat-Bold', Helvetica;
}

canvas {
	border: 1px solid gray;
	//margin-bottom: 1.15em;
	//border-left: 0.4em solid #272727;
}



/* Image Classes
_____________________________________________________________________________ */

img {
	width: 100%;
	margin: 0;
}

.image-container {
  position: relative;
}

.image-container img {
  max-width: 100%;
}

.screenshot img {
	width: 100%;
	margin: 0px;
	//-webkit-box-shadow: 1px 1px 2px gray;
  	border:1px solid gray;
	// Need a magic solution for border side borders to be partial, not extend all the way to top
}

.image-container .caption {
  color: #222;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 100%; /* 100% == 13px when not inside a p tag */
  border: 0;
}

.half-width,
.half-width-right {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  position: relative;
  width: 48%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.half-width {
  float: left;
  margin-right: 2em;
}

.half-width-right {
  float: right;
  margin-left: 2em;
}

.two-col,
.two-col-borderless,
.three-col
{
  width: 50%;
  box-sizing: border-box;
  padding-right: 1em;
  //margin-right: 1em;
  float: left;
}

.two-col img,
.two-col canvas {
  max-width: 100%;
  border:1px solid gray;
  //-webkit-box-shadow: 1px 1px 2px gray;
}

.two-col canvas {
  width: 100%;
}

.two-col-borderless img {
  border:0px solid gray;
}

.three-col {
  width: 33.333333333333333333%;
}

.three-col img {
  border:1px solid gray;
}

.mini200 img {
  width: 25%;
  border:1px solid gray;
}



/* Boxes Styling
_____________________________________________________________________________ */

/* .example = exercises
	 .tip = projects
	 .note = breakout boxes
*/

.note, .example, .tip {
	border-left: 0.4em solid #272727;
	padding: 0.7em 1.5em;
	background-color: #F4F4F4;
	margin: 1.15em 0;
}

.note h2:first-child, .tip h2:first-child, .example h2:first-child,
.note h3:first-child, .tip h3:first-child, .example h3:first-child,
.note h4:first-child, .tip h4:first-child, .example h4:first-child,
.note p:first-child, .tip p:first-child, .example p:first-child {
	margin-top: 0;
}

.note p:last-child, .tip p:last-child, .example p:last-child {
	margin-bottom: 0;
}

/* Style functions */
.function, .klass, .var, .mono{
	font-family: "Courier New", monospace;
	font-weight: bold;
	color: #00000;
}

/* Style note to self */
.notetoself {
	color: #FF0000;
	font-weight: bold;
}

/* Style example heading */
span.example {
 clear: both;
 display: block;
 font-family: 'Akkurat-Bold', Helvetica, Arial, sans-serif;
 font-size:1em;
 //font-weight: bold;
}


/* Code Formatting
_____________________________________________________________________________ */

pre {
	width: 100%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.source-code {
  border-left: 0.4em solid #272727;
  margin-bottom: 2em;
  padding: 0.7em 1.5em;
  background-color: #F4F4F4;
  position: relative;
  clear: both;
}

.source-code a.toggle {
  font-family: 'Helvetica', Arial, sans-serif;
  position: absolute;
  right: 0.8em;
  bottom: -1.8em;
  margin: 0;
  font-size: 0.8em;
  color: #656565;
  z-index:1;
}

.note .source-code,
.example .source-code,
.tip .source-code {
  border-left: none;
}

/* Div wrapper for code blocks */
.code-block {
  font-size: 90%;
  line-height: 1.4em;
  overflow: auto;
  position: relative;
}

pre {
  /*line-height: 1.4em;*/
}

.code-block * {
  position: relative;
}

/* Wrapper for every pairing of code and comment.
Used to catch the .code-comment-line inside of
a relatively positioned parent. */
.code-comment-pair {
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.code-comment-line {
  border-top: 1px dashed #C7C7C7;
  display: block;
  height: 2px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
}

/* Div wrapper for code comments */
.code-comment {
  clear: right;
  color: #444;
  font-style: bold;
  display: block;
  float: right;
  font-family: sans-serif;
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0.0em;
}

/* The code goes in here. */
.code-block code {
  clear: left;
  display: block;
}

.source-code textarea {
  background-color: #f0f0f0;
  display: none;
  width: 100%;
}

/* CSS for some lists */
.list h4, .table h4 {
  clear: none;
}

/* Working on some CSS for tables here */
table {
	font-size:11px;
	font-family: 'Helvetica', Arial, sans-serif;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table th {
	border-width: 1px;
	text-align: left;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.table.mono td {
	font-size:10px;
	font-family: 'Courier', sans-serif;
}


