<div class="code-block">
<% @sections.each do |section| %>
  <div class="code-comment-pair <%= (section[0].length > 0) ? "" : "no-comment" %>">
    <% if section[0].length > 0 %>
    <div class="code-comment"><%= section[0] %></div>
    <% end %>
    <code><pre><%= section[1] %></pre></code>
  </div>
<% end %>
</div>