<html>
	<head>
		<title>Document</title>
		<style type="text/css" media="screen">
			#container {
				width: 800px;
				margin: 0 auto;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<%= element.standard_render(views) %>
		</div>
	</body>
</head>