<html>
	<head>
		<title>Document</title>
		<script type="text/javascript" src="/javascripts/template1/html/shCore.js"></script>
		<script type="text/javascript" src="/javascripts/template1/html/shBrushProcessing.js"></script>
		<link href="/stylesheets/template1/html/shCore.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/template1/html/shThemeDefault.css" rel="stylesheet" type="text/css" />
		<style type="text/css" media="screen">
			#container {
				width: 800px;
				margin: 0 auto;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<%= element.standard_render(views) %>
		</div>
		<script type="text/javascript">
		     SyntaxHighlighter.all()
		</script>
	</body>
</head>