<div class="code-block">
<% @sections.each do |section| %>
  <div class="code-comment-pair">
    <div class="code-comment-line"></div>
    <div class="code-comment"><%= section[0] %></div>
    <code><pre><%= section[1] %></pre></code>
  </div>
<% end %>
</div>