<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Document</title>
		<script type="text/javascript" src="processingjs/processing.js"></script>
		<link rel="stylesheet" href="stylesheets/html.css" type="text/css">
	</head>
	<body>
		<div id="container">
			<%= document.element.render_children(views, filter_results) %>
		</div>
	</body>
</html>