<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Document</title>
		<link rel="stylesheet" href="http://jashkenas.github.com/docco/resources/docco.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('.code-comment-pair').each(function(){
					pair = $(this);
					line = $(pair.find('.code-comment-line'));
					firstCodeLine = $(pair.find('.one-line')[0]);
					firstElement = $(firstCodeLine.find('span')[0]);
					line.css('position','absolute');
					//line.css('top',(firstCodeLine.position().top + firstCodeLine.height()) +'px');
					if(0 != firstElement.length){
						line.css('left', firstElement.position().left + 'px');
            console.log($(pair).width() - firstElement.position().left, $(pair));
						line.css('width', $(pair).width() - firstElement.position().left);
					}
				});
			});
		</script>
		<script type="text/javascript" src="processingjs/processing.js"></script>
		<link rel="stylesheet" href="stylesheets/html.css" type="text/css">
	</head>
	<body>
		<div id="container">
			<%= document.element.render_children(views, filter_results) %>
		</div>
	</body>
</html>