<h2>Table of Contents</h2>

<ul>
<% filter_results[:toc].each do |hash| %>
  <li class="chpt-title"><a href='#<%= hash[:el].attributes[:href] %>'><%= hash[:el].children[0] %></a>
      <% if hash[:children].size > 0 %>
      <ul>
   <% hash[:children].each do |child| %>
        <li class="chpt-section"><a href='#<%= child[:el].attributes[:href] %>'><%= child[:el].children[0] %></a></li>
   <% end %>
      </ul>
      <% end %>
    </li>
<% end %>
</ul>