<div class="image-container <%= @attributes["classname"] if @attributes["classname"] %>" >
	<img src="<%= @src %>" alt="Nature of Code Image" />
	<% if @alt && @alt != @src.content %><p class="caption"><%= @alt %></p><% end %>
</div>
