<div class="source-code">
  <%= MagicRocco.new(@content, @attributes["language"], true).render(File.read('./views/code.erb')) %>
  <div style="position: relative;clear:both;display:block;height:1px;width:100%;"></div>
</div>