@import 'shared/vars-and-mixins';
@import 'shared/fonts';
@import 'shared/codesplit';
@import 'pdf/print';
@import 'pdf/page';
@import 'pdf/code';
@import 'pdf/math';


// --------------------------------------------------------------------
// Temp (DEV)
@media only screen {
    body > div.container {
        width: 90%;
        max-width: 860px;
        margin: 0 auto;
        padding: 2em 0;
    }
}
