@import 'shared/vars-and-mixins';
@import 'shared/fonts';
@import 'shared/codesplit';
@import 'pdf/print';
@import 'pdf/page';
@import 'pdf/math';


// --------------------------------------------------------------------
// Temp (DEV)
@media only screen {
    body {
        background: $color-lightest;

        > div.container {
            background: $color-background;
            max-width: 640px;
            margin: 4em auto;
            padding: 8em;
            border: solid $color-light 1px;
            box-shadow: 5px 5px 0 $color-lighter;
        }

    }
}
