.codesplit {

  font-size: 80%;
  line-height: 1.4em;
  margin: 1.4em 0em 0.8em;

  .pair {

    background-color: #e5e5e5;
    padding: 2px;
    margin: 0px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &.no-comment {
      background-color: transparent;
    }

    &.no-comment .code, &.offset .code {
      width: 100%;
    }

    &.bold {
      font-weight: bold;
    }

    &.bold.no-comment {
      padding: 0px 4px;
    }
  }

  .comment {
    width: 40%;
    float: right;
    p {
      margin: 0;
      font-family: sans-serif;
      font-size: 100%;
      line-height: 1.4em;
    }
  }

  .offset .comment {
    width: 40%;
    padding-bottom: 4px;
  }

  .code {
    width: 58%;
    float: left;
  }

  .line-through .code {
    text-decoration: line-through;
  }

}
