.codesplit {
    font-size: $font-S;
    line-height: 1.4;
    margin: 1.5em 0em 1em;

    .pair {
        background: $color-lightest;
        padding: 5px 10px;
        margin: 2px 0;
        position: relative;
        &:after {
    		content: "";
    		display: table;
    		clear: both;
    	}

        .code {
            float: left;
            width: 53%;
        }
        .comment {
            float: right;
            width: 45%;
            p { margin: 0; }
        }
    }


    .no-comment {
        background: transparent;
        .code { width: 100%; }
    }

    .line-through {
        .code { text-decoration: line-through; }
    }

    .bold {
        .code { font-weight: bold; }
        .comment { font-family: $sans-semibold; }
    }


    // Offsetting
    [class^="offset"], [class*=" offset"] {
        .code { width: 100%; }
        .comment {
            position: absolute;
            z-index: 1;
            top: 100%;
            right: 0;
            float: none;
            padding: .5em 0 .5em .5em;
            background: $color-lightest;
        }
    }
    .offset-top {
        .comment {
            top: auto;
            bottom: 100%;
        }
    }
}
