#container {
	width: 800px;
	margin: 0 auto;
}

.breakout_box {
	background-color: #D7D7D7;
	padding: 20px;
}

blockquote {
	font-style: italic;
}

blockquote span {
	font-style: normal;
	display: block;
	width: 100%;
	text-align: right;
}

pre {
	width: 100%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

canvas {
	border: 2px solid red;
}