/* Shiffman adding some stuff */
/*code {
  font-size: 85%;
}

.exercise h5 code {
  font-size: 85%;
}

.callout-bubble code {
  font-size: 85%;
}*/

aside[data-type="sidebar"] > h5 { /* sidebar heading! */
  font-size: 13pt;
}

aside[data-type="sidebar"] > h3 { /* sidebar heading! */
  margin: 0 0 2pt 0;
}

aside[data-type="sidebar"].project > h5 { /* For lesson projects */
  font-size: 20pt;
}

section[data-type="appendix"] table pre { 
  font-size: 8pt;
  margin: 0 0 0 0;
}

code {
  word-break: keep-all !important;
}

.eight-point {
  font-size: 8.5pt !important;
}

.no-indent {
  margin: 0 0 0 0 !important;
}

aside[data-type="sidebar"].exercise pre { 
 font-size: 8pt;
 margin: 0 0 0 0;
}

.rule {
  border: solid 0.3pt cmyk(0%,0%,0%,100%);
}

blockquote p[data-type*="attribution"] {
  font-style: normal;
}

/* for some padding in some <pre> elements */
.padded-above-6 { margin-top: 6pt !important; }

.margin-top-10 { margin-top: 10pt !important; }

.padded-below-12 { margin-bottom: 12pt !important; }

.padded-below-24 { margin-bottom: 24pt !important; }

.margin-zero { 
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

/*Solve spacing issue with figure 2-7*/
figcaption.padding-top-10 { bottom: 3pt; }

/*Fix general sidebar list spacing issues*/
aside ul,
aside ol { margin-bottom: -3pt !important; }


/* Multiple parts to account for different backgrounds for each part */
@page part1:first { 
  background: url("assets/lesson1.tif"); 
  background-size: 7.605in 9.46in; background-position: 0 -0.125in;
  @top-center { content: none } @top-right { content: none } 
}
@page part2:first { 
  background: url("assets/lesson2.tif"); 
  background-size: 7.605in 9.46in; background-position: 0 -0.125in;
  @top-center { content: none } @top-right { content: none } 
}
@page part3:first { 
  background: url("assets/lesson3.tif"); 
  background-size: 7.605in 9.46in; background-position: 0 -0.125in;
  @top-center { content: none } @top-right { content: none } 
}
@page part4:first { 
  background: url("assets/lesson4.tif"); 
  background-size: 7.605in 9.46in; background-position: 0 -0.125in;
  @top-center { content: none } @top-right { content: none } 
}
@page part5:first { 
  background: url("assets/lesson5.tif"); 
  background-size: 7.605in 9.46in; background-position: 0 -0.125in;
  @top-center { content: none } @top-right { content: none } 
}
@page part6:first { 
  background: url("assets/lesson6.tif"); 
  background-size: 7.605in 9.46in; background-position: 0 -0.125in;
  @top-center { content: none } @top-right { content: none } 
}
@page part7:first { 
  background: url("assets/lesson7.tif"); 
  background-size: 7.605in 9.46in; background-position: 0 -0.125in;
  @top-center { content: none } @top-right { content: none } 
}
@page part8:first { 
  background: url("assets/lesson8.tif"); 
  background-size: 7.605in 9.46in; background-position: 0 -0.125in;
  @top-center { content: none } @top-right { content: none } 
}
@page part9:first { 
  background: url("assets/lesson9.tif"); 
  background-size: 7.605in 9.46in; background-position: 0 -0.125in;
  @top-center { content: none } @top-right { content: none } 
}
@page part10:first { 
  background: url("assets/lesson10.tif"); 
  background-size: 7.605in 9.46in; background-position: 0 -0.125in;
  @top-center { content: none } @top-right { content: none } 
}

/* ------------------- Styling for exercise sidebars ------------------- */
aside[data-type="sidebar"].exercise > div { clear: none }
aside[data-type="sidebar"].exercise > div:before { clear: none }

/*Custom handling for Exercise 5-2*/
aside[id="examine_the_following_code_samples_and_d"] pre { 
  font-size: 80% !important; 
  margin-left: 0;
  padding-left: 0;
}

/*Custom handling for emphasised lines in 5-4 Logical Operators (applied globally)*/
section:not(.other-titles) ul[type="nomark"] li p { margin-top: 15pt }
section:not(.other-titles) ul[type="nomark"] li:first-child p { margin-top: 10pt }

/*Adjust space before code in sidebar titles*/
aside > h5 em code,
aside.exercise > h5 code { margin-left: 2pt; }

/*Set code within H1s to larger size*/
section[data-type="sect1"] > h1 code { font-size: 105% !important; }
section[data-type="sect2"] > h2 code { font-size: 105% !important; }

/*Fix figure 13-14 caption*/
figure[id="ch13fig14"] figcaption { bottom: -15pt }
figure[id="ch13fig14"] + p { margin-top: 12pt }

/*Fix top of page spacing at header break*/
h1, h2, h3, h4 { -ah-margin-break: discard }

/*Fix figure 15-3 and 15-16*/
figure[id="ch15fig03"],
figure[id="ch15fig16"] {
  position: absolute;
  right: 0;
  top: 20pt;
}

figure[id="ch15fig03"] > div,
figure[id="ch15fig16"] > div {
  position: static;
  display: inline;
  margin: 0 auto 10pt;
}

figure[id="ch15fig03"] figcaption,
figure[id="ch15fig16"] figcaption { 
  position: inline;
  text-align: right;
}
