<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Document</title>
		<script type="text/javascript" src="processingjs/processing.js"></script>
		<script type="text/javascript" src="javascripts/shCore.js"></script>
		<script type="text/javascript" src="javascripts/shBrushProcessing.js"></script>
		<link href="stylesheets/shCore.css" rel="stylesheet" type="text/css" />
		<link href="stylesheets/shThemeDefault.css" rel="stylesheet" type="text/css" />
		<style type="text/css" media="screen">
			#container {
				width: 800px;
				margin: 0 auto;
			}
			.breakout_box {
				background-color: #D7D7D7;
				padding: 20px;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<%= element.standard_render(views) %>
		</div>
		<script type="text/javascript">
		     SyntaxHighlighter.all()
		</script>
	</body>
</head>