<% if element.attributes["canvas"].nil? %>
	<img src="<%= element.children[0] %>" alt="<%= element.children[1] %>" />
<% else %>
	<canvas id="sketchdec21a" data-processing-sources="<%= element.attributes["canvas"] %>"  width="100" height="100">
		<p>Your browser does not support the canvas tag.</p>
	</canvas>
<% end %>