// This is needed to make katex block elements be blocks in
// PDF where katex is not included.
.katex-display {
    display: block;
    margin: 1em 0;

    overflow: hidden;

    > .katex {
        width: 60px !important;
        margin: 0 !important;
        display: block !important;

        .mfrac {
            width: 60px !important;
            margin: 0 !important;
        }
        .katex-html {}
    }
}
.mathhack .katex .mfrac .frac-line {
    width: 10px;
}

.narrow {
    margin: 1em 0;

    .katex-display {
        margin: 0;
    }
}
