<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="stylesheets/docco.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript">

	addStylesToCodeLines = function(comment) {
		match = $(comment).html().match(/\[(.*)\]/);
		if(match !== "undefined" && match !== null && match.length >= 1){
			line = $(comment).parent('.one-line');
			$(line).find('.c1').remove().end().html(line.html().trim())
			styles = match[1].split(',');
			for( l = 0; i < styles.length; i++) {
				if (styles[i].trim() === 'italic') {
					line.html("<em>" + line.html() + "</em>");
				} else if(styles[i].trim() === 'bold') {
					line.html("<strong>" + line.html() + "</strong>");
				} else {
					line.addClass(styles[i].trim());
				}
			}
		}
	}

	$(document).ready(function(){
		$('.code-comment-pair').each(function(){
			pair = $(this);
			line = $(pair.find('.code-comment-line'));
			firstCodeLine = $(pair.find('.one-line')[0]);
			firstElement = $(firstCodeLine.find('span')[0]);
			line.css('position','absolute');
			//line.css('top',(firstCodeLine.position().top + firstCodeLine.height()) +'px');
			if(0 != firstElement.length){
				line.css('left', firstElement.position().left + 'px');
				line.css('width', $(pair).width() - firstElement.position().left);
			}
		});

		// Get all inline comments
		comments = $('.c1')
		for(i = 0, len=comments.length; i < len; i++) {
			addStylesToCodeLines(comments[i]);
		}
	});
	</script>
	<script type="text/javascript" src="processingjs/processing.js"></script>
	<link rel="stylesheet" href="stylesheets/html.css" type="text/css">
</head>
<body>
	<div id="container">
		<%= render_children(views, filter_results) %>
	</div>
</body>
</html>