/*--------------------- Layout and Typography ----------------------------*/
pre, tt, code {
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}

body code pre span[class] {
	color: #000000;
}   /* Set all span elements to black in code elements.*/

/* Div wrapper for code blocks */
.code-block {
  font-size: 80%;
  line-height: 1.4em;
  margin: 2em 1em;
}

.one-line:first-child {
  width: 60%;
  margin-bottom: 3px;
}

.code-comment {
  margin-bottom: 2px;
  position: relative;
}

/* Wrapper for every pairing of code and comment.
Used to catch the .code-comment-line inside of
a relatively positioned parent. */
.code-comment-pair {
  display: block;
  position: relative;
  clear: both;
  margin: 0 0 2px 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.source-code {
  overflow-y: auto;
  clear: both;
  position: relative;
}

.stretch {
  background-color: #eee;
  padding: 4px;
}