/* Page Style
_____________________________________________________________________________ */

@page {
	size: 7.5in 9.25in;
	margin: 0.75in;
}

body {
  font-size: 13px;
	font-family: "Proxima-Nova-Regular";
	margin: 0;
	padding: 0;
}

/* Page Breaks
_____________________________________________________________________________ */

img, .note, .example, .tip, .breakout_box, .half-width, .half-width-right, table, .code-comment-pair {
	page-break-inside: avoid;
}

span.example {
	page-break-after: avoid;
}

/* Fonts
_____________________________________________________________________________ */

@font-face {
	font-family: 'Proxima-Nova-Regular';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: local('☺'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima-Nova-Semibold';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: local('☺'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Vijaya';
	src: url('../fonts/Vijaya.eot');
	src: local('☺'), url('../fonts/Vijaya.woff') format('woff'), url('../fonts/Vijaya.ttf') format('truetype'), url('../fonts/Vijaya.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Define Left Headers and Footers
_____________________________________________________________________________ */

@page :left {
  @top-left {
    font: 8pt "Proxima-Nova-Regular", serif;
    content: "The Nature of Code";
    vertical-align: bottom;
    padding-bottom: 2em;
		color: #808080;
  }

  @bottom-left {
    font: 9pt "Proxima-Nova-Regular", serif;
    content: counter(page);
    padding-top: 2em;
    vertical-align: top;
		color: #404040;
  }
}

/* Define Right Headers and Footers
_____________________________________________________________________________ */

@page :right {
  @top-right {
    font: 8pt "Proxima-Nova-Regular", serif;
    content: string(doctitle);
    vertical-align: bottom;
    padding-bottom: 2em;
		color: #606060;
  }

  @bottom-right {
    font: 9pt "Proxima-Nova-Regular", serif;
    content: counter(page);
    text-align: right;
    vertical-align: top;
    padding-top: 2em;
    color: #404040;
  }
}

h2 { string-set: doctitle content() }

/* Insert page number after all links
_____________________________________________________________________________ */

a[href]::after {
	content: " (See page " target-counter(attr(href), page) ")";
}

a[href^="http:"]::after {
	content: " (See " attr(href) ")";
}

/* Font sizes and placements
_____________________________________________________________________________ */

h1 {
	font-family: "Proxima-Nova-Regular"
	font-size: 320%;
}

h2 {
	font-family: "Proxima-Nova-Regular"
	page-break-before:always;
	font-size: 38pt;
	margin-top: 3.5em;
	margin-bottom: 0.3em;
	color: #202020;
}

h3 {
	font-family: "Proxima-Nova-Semibold";
	page-break-after: avoid;
	color: #404040;
	font-size: 17pt;
	margin-top: 2em;
}

h4 {
	font-family: "Proxima-Nova-Semibold";
	page-break-after: avoid;
	font-size: 12pt;
	color: #191919;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

h3, h4, h5, h6 {
  line-height: 1.317em;
  margin: 1.6em 0 0.5em;
}

p {
	font-size: 9pt;
	color: #404040;
	line-height: 1.618em;
	letter-spacing:0.03em;
}

/* Tables
_____________________________________________________________________________ */

table {
	font-size: 8pt;
	font-family: "Proxima-Nova-Regular";
	color: #606060;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	margin: 3em 0;
	table-layout: fixed;
	border: 1px solid #D1D1D1;
}

table td, table th {
	padding: 0.5em;
}

/* weird fix. setting font size 1pt up in header to make it look the same size */
table th {
	color: #404040;
	font-size: 9pt;
	border: 1px solid #D1D1D1;
	font-weight: bold;
}

table td {
	border: 1px solid #D1D1D1;
}

table td p {
	margin: 0;
}

table.code pre {
  font-size: 0.9em;
}

table.code td {
	text-align: left;
}

/* Styles
_____________________________________________________________________________ */

.line-through {
	text-decoration: line-through;
}

.underline {
	text-decoration: underline;
}

/* This is to make heading margins in next section work */
section {
	overflow-y: auto;
	position: relative;
	clear: both;
}

/* Quote
_____________________________________________________________________________ */

blockquote {
	font-family: "Vijaya";
	margin: 0 0 3em 0;
	font-size: 16pt;
	color: #808080;
}

/* TOC
_____________________________________________________________________________ */

/* Level 1 */

.toc ul {
	position: relative;
	list-style: none;
	margin:0;
	padding: 0;
	margin-top: 3em;
	margin-right: 4em; /* this pushes the page numbers left */
}

.toc ul li {

}

.toc ul li a {
	color: #333;
	font-family: "Proxima-Nova-Semibold";
	font-size: 18pt;
	text-decoration: none;
}

/* Level 2 */

.toc ul li ul {
	margin: 2em 0em 0em 4em;
	position: static;
}

.toc ul li ul li {
	margin-bottom: 0.7em;
}

.toc ul li ul li a {
	color: #191919;
	font-family: "Proxima-Nova-Regular";
	font-size: 10pt;
	text-decoration: none;
}

/* Links */

.toc ul li a[href]::after {
	content: target-counter(attr(href), page);
	position: absolute;
	right: 0em;
}

/* Span Classes Styling
_____________________________________________________________________________ */

span.highlight {
	background-color: #E9E9E9;
	font-size: 10pt;
	display: block;
	margin: 2em 1em;
	padding: 0.8em;
	text-align: center;
}

/* Boxes Styling
_____________________________________________________________________________ */

/* .example = exercises
	 .tip = projects
	 .note = breakout boxes
*/

.note h2, .tip, .example h2,
.note h3, .tip h3, .example h3,
.note h4, .tip h4, .example h4 {
	font-size: 12pt;
	color: #191919;
	margin-bottom: 0.3em;
	font-family: "Proxima-Nova-Semibold";
}

/* == BREAKOUT BOXES */
.note {
	font-size: 10pt;
	color: #191919;
	padding: 0.7em 1.5em;
	margin: 1.15em 0;
	background-color: #E9E9E9;
}

/* == EXERCISES */
.example {
	padding: 0.7em 1.5em;
	margin: 1.15em 0;
	background-color: #E9E9E9;
}

/* == PROJECTS */
.tip {
	padding: 0.7em 1.5em;
	margin: 1.15em 0;
	background-color: #E9E9E9;
}

.note h2:first-child, .tip h2:first-child, .example h2:first-child,
.note h3:first-child, .tip h3:first-child, .example h3:first-child,
.note h4:first-child, .tip h4:first-child, .example h4:first-child,
.note p:first-child, .tip p:first-child, .example p:first-child {
	margin-top: 0;
}

.note p:last-child, .tip p:last-child, .example p:last-child {
	margin-bottom: 0;
}

/* Style functions */
.function, .klass, .var, .mono, .formula{
    font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
    font-size: 1em;
	color: #00000;
}
.mono, .formula{
    font-weight: bold;
}
/* Style note to self */
.notetoself {
	color: #FF0000;
	font-weight: bold;
}

/* Style example heading */
span.example {
 clear: both;
 display: block;
 font-size:1em;
}

/* Image Full Width
_____________________________________________________________________________ */

img {
	width: 100%;
	margin: 0;
}

.image-container {
  position: relative;
	margin: 1.7em 0;
}

.image-container img {
  max-width: 100%;
}

.screenshot img {
	width: 100%;
	margin: 0px;
	//-webkit-box-shadow: 1px 1px 2px gray;
  	border:1px solid gray;
	// Need a magic solution for border side borders to be partial, not extend all the way to top
}

.caption {
	font-family: 'Vijaya';
	font-size: 9pt;
	color: #606060;
	border: 0;
  margin: 0;
  line-height: 1em;
}

/* Image Half Width
_____________________________________________________________________________ */

.half-width,
.half-width-right,
.half-width-right-border {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  position: relative;
  width: 48%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.half-width {
  float: left;
  margin-right: 2em;
}

.half-width-right,
.half-width-right-border {
  float: right;
  margin-left: 2em;
}

.half-width-right-border img {
  border:1px solid gray;
}

/* Image Two Columns
_____________________________________________________________________________ */

.two-col,
.two-col-borderless,
.three-col
{
  width: 50%;
  box-sizing: border-box;
  padding-right: 1em;
  //margin-right: 1em;
  float: left;
}

.two-col img,
.two-col canvas,
.two-col-borderless canvas,
.three-col img,
.three-col canvas
{
  width: 100%;
  max-width: 100%;
  border:1px solid gray;
  //-webkit-box-shadow: 1px 1px 2px gray;
}

.two-col-borderless img {
  border:0px solid gray;
}

/* Image Three Columns
_____________________________________________________________________________ */

.three-col {
  width: 33%;
}

.mini200 img {
  width: 25%;
  border:1px solid gray;
}

/* Image Screenshot
_____________________________________________________________________________ */

.screenshot img {
	width: 100%;
	margin: 0;
	border: 1px solid gray;
	/* Need a magic solution for border side borders to be partial, not extend all the way to top */
}

/* Lists
_____________________________________________________________________________ */

.list h4, .table h4 {
  clear: none;
}

dl {
	width:100%;
	overflow:hidden;
	margin: 0;
	padding: 0;
}

dt, dd {
	float: left;
	font-size: 9pt;
	line-height: 1em;
	margin: 0 0 0.5em 0;
}

dt {
 	width:30%;
}

dd {
 	width:70%;
}

dd p {
	font-size: 1.2em;
	line-height: 1em;
	margin: 0;
	padding: 0;
}

/* Code Formatting
_____________________________________________________________________________ */

pre {
	width: 100%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.source-code {
  //border-left: 0.4em solid #272727;
  margin-bottom: 2em;
  padding: 0.7em 1.5em;
  background-color: #f9f9f9;
  position: relative;
  clear: both;
}

.source-code a.toggle {
  font-family: 'Helvetica', Arial, sans-serif;
  position: absolute;
  right: 0.8em;
  bottom: -1.8em;
  margin: 0;
  font-size: 0.8em;
  color: #656565;
  z-index:1;
}

.note .source-code,
.example .source-code,
.tip .source-code {
  border-left: none;
}

.source-code textarea {
  background-color: #f0f0f0;
  display: none;
  width: 100%;
}