<% if element.attributes[:title] %>
	<h3><%= element.attributes[:title] %></h3>
<% end %>
<table>
	<% element.children.each do |tr| %>
		<tr>
			<% tr.children.each do |td| %>
				<td><%= td.standard_render(views) %></td>
			<% end %>
		</tr>
	<% end %>
	
</table>