<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="stylesheets/fonts.css" type="text/css">
  <link rel="stylesheet" href="stylesheets/print.css" type="text/css">
	<link rel="stylesheet" href="stylesheets/math.css" type="text/css">
	<link rel="stylesheet" href="stylesheets/code-print.css">
</head>
<body>
	<%= render_children(views, filter_results) %>
</body>
</html>